
    

<nav class="navbar">
    <div class="nav-grid container-fluid">
        <h2 class="websitelogo" [routerLink]="['']">Cookmaster</h2>
        <button class="uniqueffect">About Us</button>
        <button class="uniqueffect">Contact Us</button>
        <button [routerLink]="['/Recipes']" class="uniqueffect">Recipes</button> 
        <button class="uniqueffect">Chef's Shop</button>
        <button [routerLink]="['/BrandsShop']" class="uniqueffect">Brands Shop</button>
        <button class="uniqueffect">Latest Articles</button>
    </div>
</nav>

<div>
<router-outlet></router-outlet>
</div>
