<div class="container" style="margin-top:20px;">
    <div class="row">
      <div class="col-3">
        <div class="card" style="width:220px; height:320px;">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5X21V7zUr8ihio6ZHmDHLhp-e3uRDV8UD_Q&s">
          <div class="card-body">
            <h5 class="card-title">Headline</h5>
            <p class="card-text">text text text text text text text</p>
            <a href="#" class="btn btn-primary">Information</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width:220px; height:320px;">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5X21V7zUr8ihio6ZHmDHLhp-e3uRDV8UD_Q&s">
          <div class="card-body">
            <h5 class="card-title">Headline</h5>
            <p class="card-text">text text text text text text text</p>
            <a href="#" class="btn btn-primary">Information</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width:220px; height:320px;">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5X21V7zUr8ihio6ZHmDHLhp-e3uRDV8UD_Q&s">
          <div class="card-body">
            <h5 class="card-title">Headline</h5>
            <p class="card-text">text text text text text text text</p>
            <a href="#" class="btn btn-primary">Information</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width:220px; height:320px;">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5X21V7zUr8ihio6ZHmDHLhp-e3uRDV8UD_Q&s">
          <div class="card-body">
            <h5 class="card-title">Headline</h5>
            <p class="card-text">text text text text text text text</p>
            <a href="#" class="btn btn-primary">Information</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  