<div class="container bg-primary  d-flex justify-content-center"><h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: white;">Current Hot Recipes</h2></div>

<div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-3">
        <div class="card" style="width:220px; height:320px;">
          <img class="card-img-top" src="assets/steak.jpg">
          <div class="card-body">
            <h5 class="card-title">Well Done</h5>
            <p class="card-text">the survey, what is your perfect doneness?</p>
            <a href="#" class="btn btn-primary">Vote Here</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width:220px; height:320px;">
          <img class="card-img-top" src="assets/burgers.jpg">
          <div class="card-body">
            <h5 class="card-title"> Master's Burgers</h5>
            <p class="card-text">click and see how to make our signature burgers</p>
            <a href="#" class="btn btn-primary">Go There</a>
          </div>
        </div>
      </div>
      <div class="col-3 ">
        <div class="card" style="width:220px; height:320px;">
          <img class="card-img-top" src="assets/chef.jpeg">
          <div class="card-body">
            <h5 class="card-title">Chef's Section</h5>
            <p class="card-text">buy special sets and learn new unique recipes</p>
            <a href="#" class="btn btn-primary">Get Cookin'</a>
          </div>
        </div>
      </div>
      <div class="col-3 ">
        <div class="card" style="width:220px; height:320px;">
          <img class="card-img-top" src="assets/ninja.jpeg">
          <div class="card-body">
            <h5 class="card-title">New Ninjas Arrived!</h5>
            <p class="card-text">browse the catalog for a new Ninja</p>
            <a href="#" class="btn btn-primary">Buy Here</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container bg-primary  d-flex justify-content-center"><h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: white;">New at Cookmaster</h2></div>

<div class="container ">
  <div class="card text-white m-3 ">
    <img class="card-img" src="https://www.allrecipes.com/thmb/0xH8n2D4cC97t7mcC7eT2SDZ0aE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/6776_Pizza-Dough_ddmfs_2x1_1725-fdaa76496da045b3bdaadcec6d4c5398.jpg">
    <div class="card-img-overlay">
    <div class="container position-absolute bottom-0">
      <h1 class="large-card-title">Pizza Season</h1>
      <h2 class="large-card-text">Its time to make the ultimate pizza!</h2>
      <button class="btn btn-primary m-3">Get Started!</button>
    </div>
    </div>
  </div>
  <div class="card text-white m-3">
    <img class="card-img" src="https://media.cnn.com/api/v1/images/stellar/prod/best-bbq-sauces-lead.jpg?c=16x9&q=h_833,w_1480,c_fill">
    <div class="card-img-overlay">
    <div class="container position-absolute bottom-0">
      <h1 class="large-card-title">New Sauces Out on Stores</h1>
      <h2 class="large-card-text ">What Sauces are the most valued in America in 2024</h2>
      <button class="btn btn-primary m-3">Have a Look!</button>
    </div>
    </div>
  </div>
  <div class="card text-white m-3">
    <img class="card-img" src="https://www.seriouseats.com/thmb/POzaXUhRzh6dVwr6hJpgkRFtkVA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__images__2016__04__20160426-rib-steak-kenji-e0c44c78dead415892aaed99cbc31b56.jpg">
    <div class="card-img-overlay">
    <div class="container position-absolute bottom-0">
      <h1 class="large-card-title">Full Grill Guide of CookMaster</h1>
      <h2 class="large-card-text">time to fire up that grill and start flipping</h2>
      <button class="btn btn-primary m-3">Turn up The Heat!</button>
    </div>
    </div>
  </div>
</div>


