<div class="container mt-3">
<div class="card text-white">
<img class="card-img"  src="assets/spagetti-and-meatballs.jpg">
<div class="card-img-overlay">
    <div class="container position-absolute text-center">
    <h1 class="large-card-title">Recipes</h1>
    <h2 class="large-card-text">welcome to our treasure of recipes! <br> here you can find all the best recipes Cookmaster has to offer
    please do share any liked recipe you see, so that anyone can come here and be impressed by this treasure, <br>
    don't by shy! explore!
    </h2>
   </div>
</div>
</div>
</div>
<br>
<div>
    <app-card-group></app-card-group>
</div>

