<h2 style="font-family: 'rosintha';">welcome to</h2>
<h1 style="font-family:'rosintha';font-size:120px;margin:5px;color:crimson;">CookMaster</h1>
<br>
<div class="container ">
<p>Hello and Welcome to Cook Master, a website for Recipes and the best tips and cookware avalible out there,
   our store has the most recent cookware avalible including Ninja, Arcosteel, and Midea products.
   we also have a big section of chefs that are willing to give you advice the moment you call us or send us
   message, enjoy browsing our website below, and hopefully you would find something you'd like. </p>
</div>